h1 HEYEYEY

= react_component("Post", {title: "hey", body: "what"})
= react_component("HelloMessage", name: "travis")

h1 TODO

= react_component('Todo')

= react_component("Post", title: "wherwklejr")
